# TA Session Exercises

In [5]:
# Calculate the remainder of 17 when it is divided by 3
print(17%3)
# Create its variable and identify the type
r=17%3
print(type(r))

2
<type 'int'>

-------

In [1]:
# Write separate variables for your address details: street number, 
# street name, appartment number all in small letters

street_number=4
street_name="vratsakan"
appartment_number=14

# Find out the types
print(type(street_number))
print(type(street_name))
print(type(appartment_number))

# Make the first letter of your street name capital and save
street_name=street_name.capitalize()
print(street_name)

# Print your full address in the following format: "72 Hanrapetutyan, apt. 72"
full_adress=street_name + " " + str(street_number) + ", apt. " + str(appartment_number)
print(full_adress)
# Add * to the address (in the end)
full_adress=full_adress+"*"
print(full_adress) 
# Determine the order number of *
full_adress.find("*")

<class 'int'>
<class 'str'>
<class 'int'>
Vratsakan
Vratsakan 4, apt. 14
Vratsakan 4, apt. 14*

20

-----

In [6]:
# Write down a list of 4 countries 
countries=["Armenia", "Italy", "Spain", "Russia"]
# Put them in the alphabetical order
countries.sort()
print(countries)
# Add 1 more country
countries.append("Germany")
print(countries)
# Again put in the alphabetical order
countries.sort()
print(countries)
# See what the length of the list is
print(len(countries))
# Print out the very first country
print(countries[0])
# Print the 4rd letter of the middle country
print(countries[2][3])
# Print the countries vertically
for i in countries:
    print(i)
# Add continent Europe for each country
for y in countries:
    print(y + ", Europe")

['Armenia', 'Italy', 'Russia', 'Spain']
['Armenia', 'Italy', 'Russia', 'Spain', 'Germany']
['Armenia', 'Germany', 'Italy', 'Russia', 'Spain']
5
Armenia
l
Armenia
Germany
Italy
Russia
Spain
Armenia, Europe
Germany, Europe
Italy, Europe
Russia, Europe
Spain, Europe

----

In [19]:
# Write a program which will find all even numbers between 100 and 200 (both included) 
# that are divisible by 4 and not divisibly by 6
list=[]
for i in range(100,201,2):
    if i%4==0 and i%6!=0:
        list.append(i)
print(list)

[100, 104, 112, 116, 124, 128, 136, 140, 148, 152, 160, 164, 172, 176, 184, 188, 196, 200]

-----------

In [9]:
# Write a program that will let you know that ticket is $15 for people aged 18+, 
#$10 for people aged 6 to 18 and if you are 5 or younger, you can't watch a football game.

age=6

if age>=18:
    print("The ticket is $15")
elif 6<=age<18:
    print("The ticket is $10")
else:
    print("You can't watch a football game")

The ticket is $10

--------

In [10]:
# Define a function to greet a person! 

def greet(x):
    return "Hello." + " " + x +  ". Good morning!"

In [11]:
greet("Mane")

'Hello. Mane. Good morning!'

-------

In [41]:
# Define a function that will calculate the absolute value!

def absvalue(n):
    if n>=0:
        return n
    else:
        return -n

In [43]:
absvalue(-7)

7


# Done!